.main{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3rem;
}
.heading-secondary{
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section:first-child{
    height: calc(100vh - 8.9rem);
}
.section-container{
    opacity: 0;
    /*min-width: 80vw;*/
    width: 100%;
    transform: translate(-100%);
}
.section-content{
    letter-spacing: 2px;
    line-height: 3rem;
    opacity: 0;
    font-size: 2rem;
}
.show{
    opacity: 1;
    transform: translate(0);
    transition: all 1s;
}
.show .section-content{
    opacity: 1;
    transition: all 1s;
    transition-delay: 1s;
}


.button{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #121212;
    transition: all .2s ease;
    cursor: pointer;
}

/* animation for glitch on text */

